.shadow-soft { 
    box-shadow:0 0 24px rgba(27,22,66,.04),0 44px 74px rgba(27,22,66,.06) !important
}

#header {
    position:relative;
}

.form-list {
    height: 99vh;
}

.main-container {
    height: fit-content;
}

#sidebarMenu {
    width: 19%;
}

#page-content {
    width: 80%;
}

.endpoint {
    background-color: #e3e6ec;
    border-radius: 10px;
}